<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://queuetriggerfunction20220501181534.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e4889199-a333-4308-9775-437e5bf1105c/resourcegroups/CCOELearning/providers/Microsoft.Web/sites/QueueTriggerFunction20220501181534</ResourceId>
    <UserName>$QueueTriggerFunction20220501181534</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://queuetriggerfunction20220501181534.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>