<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://usertrigger20220512235809.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/383ad084-2582-42fb-8cb1-66b1bb0fc83f/resourceGroups/CCOProject/providers/Microsoft.Web/sites/UserTrigger20220512235809</ResourceId>
    <UserName>$UserTrigger20220512235809</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://usertrigger20220512235809.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>